body {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: shabnam;
    background: #f2f2f2;
}

/* footer */
.footer {
    width: 100%;

    max-width: 1356px;
    height: 302px;
    margin: 20px auto;
    background: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* subfooter */
.subfooter {
    width: 1280px;
    height: 302px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

/* footerlogo */
.footerlogo {
    width: 190px;
    height: 270px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footerlogo img {
    width: 210px;
    height: 200px;
    object-fit: contain;
    margin-right: 65px;
}

/* dastresistore */
.dastresistore {
    width: 618px;
    height: 270px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dastresistore .title {
    width: 614px;
    height: 30px;

    margin-bottom: 5px;
}

.dastresistore .textfooter {
    width: 614px;
    height: 224px;
    line-height: 25px;

}

/* fastdastresi */
.fastdastresi {
    width: 173px;
    height: 270px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.fastdastresi h3 {
    width: 173px;
    height: 30px;
    margin: 0;

    text-align: center;
    line-height: 30px;
    font-size: 14px;
}

.textfast {
    width: 173px;
    height: 222px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.waydastresi {
    width: 90px;
    height: 222px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.waydastresi a {
    display: block;
    width: 90px;
    height: 21px;

    text-align: center;
    line-height: 21px;

    text-decoration: none;
    font-size: 12px;
    border-radius: 3px;
}

/* enamad */
.enamad {
    width: 173px;
    height: 270px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.enamad a {
    display: block;
    width: 125px;
    height: 137px;
}

.enamad img {
    width: 125px;
    height: 136px;
    object-fit: contain;

}